container_commands:
  00_cache_view:
    command: "php artisan --env=staging view:cache"
    cwd: "/var/app/staging/application"
    leader_only: true

#  FIXME below is not deployed in prod (had to replace with previous package manually due to issues)
#  01_websockets_server:
#    command: "php artisan websockets:serve"
#    cwd: "/var/app/staging/application"
#    leader_only: true
