container_commands:
  01_install_nodejs:
    command: "curl -sL https://deb.nodesource.com/setup_20.x | bash - && yum install -y nodejs"
    leader_only: true
  02_npm_install:
    command: "npm install"
    cwd: "/var/app/staging/application"
    leader_only: true
  03_npm_build:
    command: "npm run build"
    cwd: "/var/app/staging/application"
    leader_only: true
