Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["mdram83-mydramgames-bucket"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  "/etc/pki/tls/certs/mydramgames.com/privkey.pem":
#    mode: "000400"
    mode: "0640"
    owner: root
#    group: root
    group: webapp
    authentication: "S3Auth"
    source: https://mdram83-mydramgames-bucket.s3.eu-central-1.amazonaws.com/letsencrypt/privkey.pem

  # Public key
  "/etc/pki/tls/certs/mydramgames.com/fullchain.pem":
#    mode: "000400"
    mode: "0640"
    owner: root
#    group: root
    group: webapp
    authentication: "S3Auth"
    source: https://mdram83-mydramgames-bucket.s3.eu-central-1.amazonaws.com/letsencrypt/fullchain.pem
