.container {
    background: #76c8d8;
    display: flex;
    /* align-items: center; */
    height: 10vh;
    /* width: 100%; */
    /* justify-content: center; */
}

.content {
    background: #cf4848;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 100%;
}

.content > div {
    position: absolute;
    width: 30px;
    height: 30px;
    transform-origin: 50% 50% 0px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    line-height: 20px;
    padding-left: 12px;
    font-size: 8px;
    background: lightblue;
    text-transform: uppercase;
    letter-spacing: 4px;
    touch-action: none;
}

.content > div:nth-child(1) {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(2) {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(3) {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(4) {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}
.content > div:nth-child(5) {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(6) {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(7) {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(8) {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}
.content > div:nth-child(9) {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}
.content > div:nth-child(10) {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}
.content > div:nth-child(11) {
    background: linear-gradient(135deg, #5ee7df 0%, #b490ca 100%);
}
.content > div:nth-child(12) {
    background: linear-gradient(135deg, #c3cfe2 0%, #c3cfe2 100%);
}
